*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d71515;

}
.image-container{
    text-align: center;
}
.image-container img{
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    background-color: aliceblue;
    width: 300px;
    height: 300px;
}
.btn{
    background-color: purple;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    color: azure;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    cursor: pointer;

}
.btn:hover{
    opacity: 0.9;
}